:root{
    /*colors*/
    --black: #1E1E1E;
    --white: #F2F2F2;
    --grey: #EAEAEA;
    /*fonts*/
    --body: 'Manrope', sans-serif;
    --h1: "Syne", sans-serif;
    --h2: 'Syne', sans-serif;
    --h3: 'Manrope', sans-serif;
    --special: 'Syne', sans-serif;
    /*weights*/
    --light: 400;
    --regular: 500;
    --semibold: 600;
    --bold: 700;
}

html{
    height: 100%;
}
body{
    background-color: var(--black);
    /*min-height: 100vh;*/
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 2.7em;
}

p, section p{
    font-family: var(--body);
    font-weight: var(--light);
    font-size: 0.8em;
    color: var(--white);
}

h1 {
    font-family: var(--h1);
    font-weight: var(--light);
    font-size: 3.6em;
    color: var(--white);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 16px;
    margin-bottom: 40px;
}

#title {
    color: var(--white);
}

.intro{
    font-family: var(--h2);
    font-weight: var(--semibold);
    font-size: 18px;
    color: var(--white);
}
.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo img{
    width: 100px;
}

.hamburger-menu {
    background: none;
    border: none;
    color:var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger-menu .bar {
    width: 24px;
    height: 2px;
    background-color: var(--white);
    margin: 3px 0;
    transition: 0.4s;
}

.hamburger-menu span {
    padding-top: 4px;
    font-size: 10px;
    color:var(--white);
    font-family: var(--body);
    font-weight: var(--regular);
}

.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}  

.menu-open ul, .summary ul{
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.menu-open li {
    margin: 16px 0;
}

.menu-open a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--body);
    font-size: 2em;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close p{
    margin-block-start: -0.8em;
    margin-block-end: 0em;
    font-family: var(--body);
    font-size: 0.6em;
}
.close-menu {
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
}

main, #tagline, .workcontainer{
    padding: 0px 24px;
}

.summary li{
    font-family: var(--body);
    font-size: 0.8em;
    color: var(--white);
}

.summary {
    margin-bottom: 24px;
}

.summary-container{
    display: flex;
    flex-direction: column;
}

/*trick*/
body {
    position: relative;
    padding-bottom: 0em;
}
  
/*body::after {
    content: '';
    display: block;
    height: 50px;
}*/
.line{
    background-color: #3d3d3d;
    height: 1px;
    margin-bottom: 36px;
}
article{
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.profile{
    width: 100%;
    position: relative;
    bottom:-10px;
    border-radius: 16px;
}
.glass {
    background: rgba(36, 36, 36, 0.1); /* semi-transparant wit */
    border-radius: 16px;
    padding: 20px;
    border: 1px solid rgba(45, 45, 45, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* voor Safari ondersteuning */
    box-shadow: 0 24px 40px rgba(0, 0, 0, 0.1);
    color: white; /* eventueel, als je lichte tekst wilt */
    margin-bottom: 20px;
} 
.glass h2{
    font-family: var(--h2);
}
span{
    color:#cfff04;
}
.about{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;  
    justify-content: center;
    background-color: #242424;
    /*margin-top: 40px;*/
    margin-bottom: 40px;
    overflow: hidden;
}
#tagline{
    z-index: 5;
    position: absolute;
    /*width: 320px;*/
    text-align: center;
    font-size: 1.1em;
    font-family: var(--h2);
}
.container {
    position: relative;
    width: 400px;
    height: 400px;
}

#logo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* Smoother fading border effect using a mask */
    mask: radial-gradient(circle, 
                        rgba(0, 0, 0, 1) 50%,    /* Solid at the center */
                        rgba(0, 0, 0, 0.7) 60%,  /* Start fading */
                        rgba(0, 0, 0, 0.3) 70%,  /* More transparent */
                        rgba(0, 0, 0, 0) 80%);   /* Fully transparent at the edges */
    /* Webkit compatibility for the mask property */
    -webkit-mask: radial-gradient(circle, 
                        rgba(0, 0, 0, 1) 50%, 
                        rgba(0, 0, 0, 0.7) 60%, 
                        rgba(0, 0, 0, 0.3) 70%, 
                        rgba(0, 0, 0, 0) 80%);
                        animation: pulse 20s ease-in-out infinite; /* Infinite loop */
}
@keyframes pulse {
    0%, 100% {
        transform: scale(0.2); /* Normal size */
    }
    50% {
        transform: scale(2); /* Enlarged size */
    }
}

.toolcontainer{
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 64px;
}

.tooloptions{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 34px;
}

.tool{
    border: var(--white) 0.8px solid;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 40px;
}
.spotify {
    display: none;
}
#doodlelink{
    font-family: var(--h2);
    font-size: 2em;
    padding-bottom: 8px;
    color: var(--white);
    text-decoration: none;
    display: block;
    max-width: 340px;
    font-weight: var(--bold);
    transition: transform .2s;
}

#doodlelink:hover{
    transform: scale(1.1);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doodle{
    text-align: right;
    margin-top: -10px;
    font-size: 0.8em;
    font-family: var(--body);
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.social{
    font-size: 0.9em;
    color: var(--white);
    text-decoration: none;
    font-family: var(--body);
}

.rights{
    font-family: var(--body);
    font-size: 0.5em;
    color: var(--white);
    text-align: center;
}

.ftr{
    background-color: #242424;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

#saveButton{
    /*background-color: #242424;*/
    color: var(--white);
    /*border: 1px solid var(--white);
    padding: 4px 4px;
    border-radius: 40px;*/
    font-family: var(--body);
    font-size: 0.8em;
    cursor: pointer;
    width: 160px;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .nav-row {
        padding: 36px 80px;
    }

    main, .workcontainer {
        padding: 0px 80px;
    }

    .summary-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    h1{
        font-size: 5.6em;
        margin-top: 16px;
        margin-bottom: 96px;
    }

    #mouse-trail {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 1000;
    }
    
    .mouse-trail-dot {
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: 0 20px 30px #80ffcc;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s;
        box-shadow: 0 0 10px #FF10F0, 0 0 20px #FF10F0, 0 0 30px #FF5F1F, 0 0 40px #FF5F1F, 0 0 50px #cfff04, 0 0 60px #cfff04, 0 0 70px #cfff04;
    }    
    body{
        padding-bottom: 0em;
    }
    .toolcontainer{
        text-align: center;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 30px;
        margin-top: 64px;
    }
    .glass{
        margin-bottom: 0px;
        align-content: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    article{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin-bottom: 64px;
    }
    .profile{
        position: relative;
        top: 0px;
        /*height: 100%;*/
        object-fit: cover;
        display: block;
    }
    .line{
        margin-bottom: 64px;
    }
    .ftr{
        padding-left: 80px;
        padding-right: 80px;
    }
    .spotify {
        display: block;
        width: 300px;
        height: 160px;
        object-fit: contain;
    }
    .workcontainer{
        margin-top: 114px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .nav-row {
        padding: 36px 128px;
    }
    main, .workcontainer {
        padding: 0px 128px;
    }
    body{
        padding-bottom: 0em;
    }
    .toolcontainer{
        text-align: center;
        padding-left: 128px;
        padding-right: 128px;
    }
    .ftr{
        padding-left: 128px;
        padding-right: 128px;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .rights{
        font-size: 0.8em;
    }
    .workcontainer{
        display: flex;
        justify-content: center;
    }
    .glass{
        padding-left: 40px;
        padding-right: 40px;
    }
    article{
        max-width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    h1{
        font-size: 6.4em;
    }
    body{
        padding-bottom: 0em;
    }
}