:root{
    /*colors*/
    --black: #1E1E1E;
    --white: #F2F2F2;
    --grey: #EAEAEA;
    /*fonts*/
    --body: 'Manrope', sans-serif;
    --h1: "Syne", sans-serif;
    --h2: 'Manrope', sans-serif;
    --h3: 'Manrope', sans-serif;
    --special: 'Syne', sans-serif;
    /*weights*/
    --light: 400;
    --regular: 500;
    --bold: 700;
}

html{
    height: 100%;
}
body{
    background-color: var(--black);
    /*min-height: 100vh;*/
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 2.7em;
}

p{
    font-family: var(--body);
    font-weight: var(--light);
    font-size: 0.8em;
    color: var(--white);
}

h1 {
    font-family: var(--h1);
    font-weight: var(--light);
    font-size: 3.6em;
    color: var(--white);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 16px;
    margin-bottom: 40px;
}

#title {
    color: var(--white);
}

h2{
    font-family: var(--h2);
    font-weight: var(--bold);
    font-size: 0.8em;
}

.colors{
    color: var(--white);
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo img{
    width: 160px;
}

.hamburger-menu {
    background: none;
    border: none;
    color:var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger-menu .bar {
    width: 24px;
    height: 2px;
    background-color: var(--white);
    margin: 3px 0;
    transition: 0.4s;
}

.hamburger-menu span {
    padding-top: 4px;
    font-size: 10px;
    color:var(--white);
    font-family: var(--body);
    font-weight: var(--regular);
}

.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}  

.menu-open ul, .summary ul{
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.menu-open li {
    margin: 16px 0;
}

.menu-open a:hover {
    color: #80ffcc;
}

.menu-open a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--body);
    font-size: 2em;
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close p{
    margin-block-start: -0.8em;
    margin-block-end: 0em;
    font-family: var(--body);
    font-size: 0.6em;
}
.close-menu {
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
}

main {
    padding: 0px 24px;
}

.summary li{
    font-family: var(--body);
    font-size: 0.8em;
    color: var(--white);
}

.summary {
    margin-bottom: 24px;
}

.summary-container{
    display: flex;
    flex-direction: column;
}

/*trick*/
body {
    position: relative;
}
  
body::after {
    content: '';
    display: block;
    height: 50px;
}

footer{
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 24px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;*/
    border-top: 0.5px solid var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a{
    font-family: var(--body);
    font-size: 0.8em;
    color: var(--white);
    text-decoration: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

footer div{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doodle{
    text-align: right;
    margin-top: -10px;
    font-size: 0.8em;
    font-family: var(--body);
}

@media screen and (min-width: 768px) {
    .nav-row {
        padding: 36px 80px;
    }

    main {
        padding: 0px 80px;
    }

    .summary-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1{
        font-size: 5.6em;
        margin-top: 16px;
        margin-bottom: 96px;
    }

    footer{
        margin-left: 80px;
        margin-right: 80px;
    }

    #mouse-trail {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 1000;
    }
    
    .mouse-trail-dot {
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: 0 20px 30px #80ffcc;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s;
        box-shadow: 0 0 10px #FF10F0, 0 0 20px #FF10F0, 0 0 30px #FF5F1F, 0 0 40px #FF5F1F, 0 0 50px #cfff04, 0 0 60px #cfff04, 0 0 70px #cfff04;
    }    
    body{
        padding-bottom: 6em;
    }
}

@media screen and (min-width: 1024px) {
    .nav-row {
        padding: 36px 128px;
    }
    main {
        padding: 0px 128px;
    }
    footer{
        margin-left: 128px;
        margin-right: 128px;
    }
    body{
        padding-bottom: 3em;
    }
}

@media screen and (min-width: 1400px) {
    h1{
        font-size: 6.4em;
    }
    body{
        padding-bottom: 1em;
    }
}